{% extends "dashboard/base.html" %}

{% load static %}

{% block header%}

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  

  <!-- JQuery script -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>  

  <link href="{% static 'stylesheet/css/dashboard-admin.css' %}" rel="stylesheet">

  {% block extraheader %}

  {% endblock %}

{% endblock %}

{% block style %}  

   {% block extrastyle %}

  {% endblock %}

{% endblock %}

{% block layout %}

  <body class="{% block body_css_class %}{% endblock %}">
    <div class="outcontainer">
      {% block content %}
      
      {% endblock %}    
    </div>
    <!-- JQuery core -->
    <!-- <script src="{% static 'js/jquery/jquery-3.3.1.min.js' %}"></script> -->
    <!-- Bootstrap Start -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  

    {% block extrafooter %}

    {% endblock %}

  </body>

{% endblock %}